
<div class="container-fluid">

  <legend>Ingrese productos</legend>
        <!--<form action="/productos"  method="post">-->
        <form onsubmit="addProduct(this)">
            <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input class="form-control" type="text" id="name" name ="name">
            </div>
            <div class="mb-3">
            <label for="price" class="form-label">Precio</label>
            <input class="form-control" type="number" id="price" name ="price">
            </div>
            <div class="mb-3">
            <label for="thumbnail" class="form-label">Foto URL</label>
            <input class="form-control" type="text" id="thumbnail" name ="thumbnail">
            </div>
            <div class="mb-3">
              <button type="submit"  class="btn btn-primary mb-3"> Enviar </button>
            </div>
      </form>

      
      
      <% if (listExists) { %>
      <legend>Vista de productos</legend>
        <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
          </tr>
        </thead>
        <tbody>
          <div id="products"></div>
        </tbody>
      </table>
      <% } %>
      
      <% if (listNotExists) { %>
      <legend>Vista de productos</legend>
      <p class="font-monospace">No se encontraron productos</p>
      <% } %>
